@{
    ViewBag.Title = "LineChart";
}


<style>
    svg {
        background-color: white;
        width: 500px;
        height: 500px;
    }

    line {
        shape-rendering: crispEdges;
        stroke: #000;
    }

    path.domain {
        fill: none;
        stroke: black;
    }

    .tick {
        opacity: 0.5;
    }
</style>

<h2>Line Chart</h2>
<svg id="line-chart"></svg>

@section scripts{
    <script>

        function LineChart(svg_id, data, fieldX, fieldY, w, h) {
            var self = this;
            var svg = d3.select(svg_id);

            var extentX = d3.extent(data, function (d) { return d[fieldX]; }),
                extentY = d3.extent(data, function (d) { return d[fieldY]; });

            console.log(extentY);

            var xScale = d3.scale.linear().domain([1, 10.5]).range([20, w]),
                yScale = d3.scale.linear().domain([0, 35]).range([h, 20]);

            var xAxis = d3.svg.axis()
                    .scale(xScale)
                    .orient("bottom")
                    .tickSize(h);
                    //.tickValues([1, 2, 3, 4, 5, 6, 7, 8, 9, 10]);

            svg.append("g").attr("id", "xAxisG").call(xAxis);

            yAxis = d3.svg.axis()
                .scale(yScale)
                .orient("right")
                .ticks(10)
                .tickSize(w);

            svg.append("g").attr("id", "yAxisG").call(yAxis);

            svg.selectAll("circle.tweets")
                .data(data)
                .enter()
                .append("circle")
                .attr("class", "tweets")
                .attr("r", 5)
                .attr("cx", function (d) { return xScale(d[fieldX]) })
                .attr("cy", function (d) { return yScale(d[fieldY]) })
            .style("fill", "black");

            return self;
        }

        $(function () {
            function lineChart(data) {
                xScale = d3.scale.linear().domain([1, 10.5]).range([20, 480]);
                yScale = d3.scale.linear().domain([0, 35]).range([480, 20]);

                xAxis = d3.svg.axis()
                    .scale(xScale)
                    .orient("bottom")
                    .tickSize(480)
                    .tickValues([1, 2, 3, 4, 5, 6, 7, 8, 9, 10]);

                d3.select("svg").append("g").attr("id", "xAxisG").call(xAxis);

                yAxis = d3.svg.axis()
                    .scale(yScale)
                    .orient("right")
                    .ticks(10)
                    .tickSize(480);

                d3.select("svg").append("g").attr("id", "yAxisG").call(yAxis);

                d3.select("svg").selectAll("circle.tweets")
                    .data(data)
                    .enter()
                    .append("circle")
                    .attr("class", "tweets")
                    .attr("r", 5)
                    .attr("cx", function (d) { return xScale(d.day) })
                    .attr("cy", function (d) { return yScale(d.tweets) })
                    .style("fill", "black");

                d3.select("svg").selectAll("circle.retweets")
                    .data(data)
                    .enter()
                    .append("circle")
                    .attr("class", "retweets")
                    .attr("r", 5)
                    .attr("cx", function (d) { return xScale(d.day) })
                    .attr("cy", function (d) { return yScale(d.retweets) })
                    .style("fill", "lightgray");

                d3.select("svg").selectAll("circle.favorites")
                    .data(data)
                    .enter()
                    .append("circle")
                    .attr("class", "favorites")
                    .attr("r", 5)
                    .attr("cx", function (d) { return xScale(d.day) })
                    .attr("cy", function (d) { return yScale(d.favorites) })
                    .style("fill", "gray");

                var tweetLine = d3.svg.line()
                    .x(function (d) {
                        return xScale(d.day);
                    })
                    .y(function (d) {
                        return yScale(d.tweets);
                    });

                var retweetLine = d3.svg.line()
                    .x(function (d) {
                        return xScale(d.day)
                    })
                    .y(function (d) {
                        return yScale(d.retweets)
                    });

                var favLine = d3.svg.line()
                    .x(function (d) {
                        return xScale(d.day);
                    })
                    .y(function (d) {
                        return yScale(d.favorites);
                    });

                tweetLine.interpolate("basis");
                retweetLine.interpolate("step");
                favLine.interpolate("cardinal");

                d3.select("svg")
                    .append("path")
                    .attr("d", tweetLine(data))
                    .attr("fill", "none")
                    .attr("stroke", "darkred")
                    .attr("stroke-width", 2);

                d3.select("svg")
                    .append("path")
                    .attr("d", retweetLine(data))
                    .attr("fill", "none")
                    .attr("stroke", "gray")
                    .attr("stroke-width", 3);

                d3.select("svg")
                    .append("path")
                    .attr("d", favLine(data))
                    .attr("fill", "none")
                    .attr("stroke", "black")
                    .attr("stroke-width", 2);

            }

            d3.csv("@Url.Content("~/Content/data/tweetdata.csv")",
                lineChart
            );
        });
    </script>
}