@{
    ViewBag.Title = "Sankey";
}

<h2>Sankey</h2>

<hr />

<svg></svg>

@section scripts{
    <script>
        $(function () {
            function dataViz(data) {
                //console.log(data);

                var sankey = d3.sankey()
                    .nodeWidth(20)
                    .nodePadding(200)
                    .size([460, 460])
                    .nodes(data.nodes)
                    .links(data.links)
                    .layout(200);

                var intensityRamp = d3.scale.linear()
                                    .domain([0, d3.max(data.links, function (d) {
                                        return d.value;
                                    })])
                                    .range(["black", "red"]);
                var margin = { top: 50, right: 50, bottom: 50, left: 50 },
                                width = 550 - margin.left - margin.right,
                                height = 550 - margin.top - margin.bottom;

                     d3.select("svg")
                            .attr('width', width + margin.left + margin.right)
                            .attr('height', height + margin.top + margin.bottom)
                            .append('g')
                            .attr('transform', 'translate(' + margin.left + ',' + margin.right + ')')

                    .attr("id", "sankeyG");

                d3.select("#sankeyG").selectAll(".link")
                                .data(data.links)
                                .enter().append("path")
                                .attr("class", "link")
                                .attr("d", sankey.link())
                                .style("stroke-width", function (d) { return d.dy; })
                                .style("stroke-opacity", .5)
                                .style("fill", "none")
                                .style("stroke", function (d) { return intensityRamp(d.value); })
                                .sort(function (a, b) { return b.dy - a.dy; })
                                .on("mouseover", function () {
                                    d3.select(this).style("stroke-opacity", .8);
                                })
                                .on("mouseout", function () {
                                    d3.selectAll("path.link").style("stroke-opacity", .5)
                                });

                d3.select("#sankeyG").selectAll(".node")
                                .data(data.nodes)
                                .enter().append("g")
                                .attr("class", "node")
                                .attr("transform", function (d) {
                                    return "translate(" + d.x + "," + d.y + ")";
                                });

                d3.selectAll(".node").append("rect")
                .attr("height", function (d) { return d.dy; })
                .attr("width", 20)
                .style("fill", "pink")
                .style("stroke", "gray");

                //d3.selectAll(".node")
                //    .append("circle")
                //.attr("height", function (d) { return d.dy; })
                //.attr("r", function (d) { return d.dy / 2; })
                //.attr("cy", function (d) { return d.dy / 2; })
                //.style("fill", "pink")
                //.style("stroke", "gray");

                sankey.nodeWidth(1);

                d3.selectAll(".node").append("text")
                    .attr("x", 0)
                    .attr("y", function (d) { return d.dy / 2; })
                    .attr("text-anchor", "middle")
                    .text(function (d) { return d.name; });

                var numLayouts = 1;
                d3.select("svg").on("click", moreLayouts);
                sankey.layout(numLayouts);

                //moreLayouts();

                function moreLayouts() {
                    numLayouts += 20;
                    sankey.layout(numLayouts);

                    d3.selectAll(".link")
                    .transition()
                    .duration(500)
                    .attr("d", sankey.link())
                    d3.selectAll(".node")
                    .transition()
                    .duration(500)
                    .attr("transform", function (d) {
                        return "translate(" + d.x + "," + d.y + ")";
                    });
                }
            }

            d3.json('@Url.Content("~/Content/data/sitestats.json")', dataViz);
        });
    </script>
}