@{
    ViewBag.Title = "WorldCup";
}

<style>
    .active{
        font-size: 15px !important;
    }
</style>
<h2>World Cup</h2>
<hr />
<div id="viz">
    <svg style="width:500px;height:500px;border:1px lightgray solid;" />
</div>
<div id="controls" class="btn-group" role="group" />

@section scripts{
    <script>
        $(function () {
            d3.csv("@Url.Content("~/Content/data/worldcup.csv")", function (data) {
                //console.log(data);

                d3.select("svg")
                    .append("g")
                    .attr("id", "teamsG")
                    .attr("transform", "translate(50,300)")
                    .selectAll("g")
                    .data(data)
                    .enter()
                    .append("g")
                    .attr("class", "overallG")
                    .attr("transform",
                        function (d, i) { return "translate(" + (i * 50) + ", 0)" }
                );

                var teamG = d3.selectAll("g.overallG");
                teamG.append("circle")
                    .attr("r", 20)
                    .style("fill", "pink")
                    .style("stroke", "black")
                    .style("stroke-width", "1px");

                teamG.append("text")
                    .style("text-anchor", "middle")
                    .attr("y", 30)
                    .style("font-size", "10px")
                    .text(function (d) { return d.team; });

                var dataKeys = d3.keys(data[0]).filter(function (el) {
                    return el != "team" && el != "region";
                });

                d3.select("#controls")
                    .selectAll("button.teams")
                    .data(dataKeys).enter()
                    .append("button")
                    .classed("btn", true)
                    .classed("btn-default", true)
                    .on("click", buttonClick)
                    .html(function (d) { return d; });

                function buttonClick(datapoint) {
                    var maxValue = d3.max(data, function (d) {
                        return parseFloat(d[datapoint]);
                    });
                    var radiusScale = d3.scale.linear()
                        .domain([0, maxValue]).range([2, 20]);

                    var tenColorScale = d3.scale.category10(["UEFA", "CONMEBOL", "CAF", "AFC"]);

                    var ybRamp = d3.scale.linear()
                        .interpolate(d3.interpolateHsl)
                        .domain([0, maxValue])
                        .range(["yellow", "blue"]);

                    d3.selectAll("g.overallG").select("circle")
                        .transition()
                        .delay(function (d, i) {
                            return i * 100;
                        })
                        .transition()
                        .duration(500)
                        .attr("r", function (d) {
                            return radiusScale(d[datapoint]);
                        })
                        .style("fill", function (d) {
                            return tenColorScale(d.region);
                        })
                    ;
                };

                teamG.on("mouseover", highlightRegion);
                teamG.on("mouseout", function () {
                    d3.select(this).select('text').classed('active', false).attr('y', 30);
                    //d3.selectAll("g.overallG")
                    //    .select("circle").transition()
                    //    .duration(300).style("fill", "pink");
                });

                function highlightRegion(d) {
                    var teamColor = d3.rgb("pink");
                    d3.select(this).select('text').classed('active', true).attr('y', 10);
                    //d3.selectAll("g.overallG").select("circle")
                    //    .transition()
                    //    .duration(300)
                    //.style("fill", function (p) {
                    //    return p.region == d.region ? teamColor.darker(.75) : teamColor.brighter(.5);
                    //});

                };

                d3.text("@Url.Content("~/Content/resources/modal.html")",
                    function (data) {
                    d3.select("body").append("div").attr("id", "modal").html(data);
                });

                teamG.on("click", teamClick);

                function teamClick(d) {
                    d3.selectAll("td.data").data(d3.values(d))
                    .html(function (p) {
                        return p
                    });
                };
            });
        });
    </script>
}