@{
    ViewBag.Title = "D3UX";
}

<h2>D3UX</h2>

<style>
    p{
        
    }
</style>
<div>
    <p>A</p>
    <p>B</p>
</div>
@section scripts{
    <script>
        $(function () {
            
        });
    </script>
}